:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  background-image: url(./photo-1531685250784-7569952593d2.jpeg);
}


.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app__title{
  color: #222;
  padding-bottom: 2rem;
}

.card {
  background: #222;
  color: #fff;
  width: 100%;
  height: 80vh;
  margin: 0rem 1rem;
  max-width: 340px;
  padding: 1rem;
  text-align: center;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

/* .card-search {
  border: 2px solid green;
} */

.home__title, .user-input {
  margin: 1rem 0rem;
}

.user-input {
  padding: .5rem;
  background-color: rgba(255,255,255,0.3);
}

.user-input:focus {
  background-color: rgba(255,255,255,0.6);
}

.Btn {
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20px;
  outline: none;
}

.temperature__icon {
  background: #fff;
  height: 150px;
  width: 250px;
  margin: 0 auto;
}

.data {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

.location {
  font-size: 16px;
}
.degree {
  font-size: 90px;
}

.description {
  text-transform: capitalize;
}