:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #222;
}


.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #fff;
  width: 100%;
  height: 80vh;
  margin: 0rem 1rem;
  max-width: 340px;
  padding: 1rem;
  text-align: center;
}

.home__title, .user-input {
  margin: 1rem 0rem;
}
